{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block stylesheets %}
	<style>
		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		/* Apply animation to the specific class */
		.spin {
			animation: spin 1s linear infinite;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="flex flex-wrap -mx-3 justify-left">
		<div class="w-full md:w-full px-3 mt-6">
			<div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
				<div
					class="p-4">

					<!-- Main Content -->
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h4 class="h4">Nouvelle entité :</h4>
						<div
							class="btn-toolbar mb-2 mb-md-0">
							<!-- Submit Button -->
							<button id="submitBtn" type="button" class="btn btn-outline-primary">
								<svg id="spinner" class="h-5 w-5 mr-3" viewbox="0 0 24 24">
									<path class="text-gray-600" fill="currentColor" d="M12 2a10 10 0 00-7.64 16.36l1.88-1.32A8 8 0 1112 4v6h2V2z"/>
								</svg>
								Soumettre
							</button>
						</div>
					</div>

					<!-- Entity -->
					<form>
						<div class="mb-3">
							<label class="form-label">Nom de l'entité</label>
							<input id="entityNameInput" type="text" class="form-control">
						</div>

						<div class="mb-3">
							<label class="form-label" style="display: inline-block;">Module:</label>
							<div style="display: inline-block;">
								<select class="form-select" style="width: 150px;" id="moduleNameSelect">
									<option selected>-</option>
									{% for module in modules %}
										<option value="{{module.name}}">{{module.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
							<h1 class="h5">Information :</h1>
							<div class="btn-toolbar mb-2 mb-md-0">
								<div class="btn-group me-2">

									<button type="button" class="btn btn-sm btn-outline-secondary add-attribute-btn" data-bs-toggle="modal" data-bs-target="#attributeModal">Attribute</button>

									<div class="modal fade" id="attributeModal" tabindex="-1" aria-labelledby="attributeModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="attributeModalLabel">Attribute Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<label class="form-label">Type d'attribut</label>
													<select class="form-select" id="attributeTypeSelect">
														<!-- Source: https://www.doctrine-project.org/projects/doctrine-dbal/en/current/reference/types.html -->

														<!-- 1.Numeric types -->
														<!-- Integer types -->
															<option value="smallint"> smallint</option>
														<option value="integer">integer</option>
														<option value="bigint">bigint</option>
														<!-- Decimal types -->
														<option value="decimal">decimal</option>
														<option value="float">float</option>

														<!-- 2.String types -->
														<!-- Character string types -->
														<option value="string">string</option>
														<option value="text">text</option>
														<option value="guid">guid</option>
														<!-- Binary string types -->
														<option value="binary">binary</option>
														<option value="blob">blob</option>

														<!-- 3.Bit types -->
														<option value="boolean">boolean</option>

														<!-- 4.Date and time types -->
														<option value="date">date</option>
														<option value="datetime">datetime</option>
														<option value="datetimetz">datetimetz</option>
														<option value="time">time</option>
														<option value="dateinterval">dateinterval</option>

														<!-- 5.Array types -->
														<!-- <option value="array">array</option> Deprecated -->
														<option value="simple_array">simple_array</option>
														<option value="json">json</option>

														<!-- 6.Object types -->
														<!-- <option value="object">object</option> <!-- Deprecated -->
													</select>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#attributeDetailsModal" onclick="updateAttributeDetailsModal()">Submit</button>
												</div>
											</div>
										</div>
									</div>

									<div class="modal fade" id="attributeDetailsModal" tabindex="-1" aria-labelledby="attributeDetailsModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="attributeDetailsModalLabel">Attribute Details Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<label class="form-label">Type d'attribut :</label>
													<select class="form-select" id="selectedAttributeType" aria-label="Attribute Type" disabled><!-- This select will show the selected attribute type --></select>
													<br>
													<div class="mb-3">
														<label class="form-label">Nom de l'attribut :</label>
														<input type="text" class="form-control" id="attributeNameInput" required>
													</div>

													<div class="mb-3">
														<label class="form-label">Nullable ?</label><br>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio" name="nullableRadios" id="nullableYesRadio" value="yes">
															<label class="form-check-label" for="nullableYesRadio">Yes</label>
														</div>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio" name="nullableRadios" id="nullableNoRadio" value="no">
															<label class="form-check-label" for="nullableNoRadio">No</label>
														</div>
													</div>

													<div class="mb-3" id="fieldLengthField" style="display: none;">
														<label class="form-label">Field length [255] :</label>
														<input type="number" class="form-control" value="255" id="fieldLengthInput">
													</div>

													<div class="row" id="precisionScaleRow" style="display: none;">
														<div class="col-2">
															<div class="mb-3" id="precisionField" style="display: inline-block;">
																<label class="form-label">Precision [default: 10] :</label>
																<select class="form-select" id="precisionSelect"></select>
															</div>
														</div>
														<div class="col-2">
															<div class="mb-3" id="scaleField" style="display: inline-block;">
																<label class="form-label">Scale [default: 0] :</label>
																<select class="form-select" id="scaleSelect"></select>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="CreateAttribute()">Save</button>
												</div>
											</div>
										</div>
									</div>

									<!-- Entity Modal -->
									<!-- This functionality turned out to be completely broken, so I commented it out for now, as I lack the time to fix it. -->
									<button type="button" class="btn btn-sm btn-outline-secondary add-attribute-btn" data-bs-toggle="modal" data-bs-target="#entityModal" onclick="populateEntityModal()">Entity</button>

									<div class="modal fade" id="entityModal" tabindex="-1" aria-labelledby="entityModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="entityModalLabel">Entity Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div class="mb-3">
														<label class="form-label">Entity Name :</label>
														<input type="text" class="form-control" id="innerEntityNameInput" required>
													</div>

													<div class="mb-3">
														<label class="form-label">Assign Attributes :</label><br>
														<div id="attributeCheckboxes"></div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="assignEntityToAttribute()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>


									<!-- Relation Modal -->
									<button type="button" class="btn btn-sm btn-outline-secondary remove-attribute-btn" data-bs-toggle="modal" data-bs-target="#relationModal">Relation</button>

									<div class="modal fade" id="relationModal" tabindex="-1" aria-labelledby="relationModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="relationModalLabel">Relation Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div
													class="modal-body">
													<!-- Your custom content for the Relation modal -->
													<form id="relationForm">
														<div class="mb-3">
															<label class="form-label">Relation Name:</label>
															<input type="text" class="form-control" id="relationNameInput" required>
														</div>
														<div class="mb-3">
															<label class="form-label">What class should this entity be related to?</label>
															<select class="form-select" id="relatedClassInput" required>
																{% for entity in entities %}
																	<option value="{{entity.name}}">{{entity.name}}</option>
																{% endfor %}
																<!-- <input type="text" class="form-control" id="relatedClassInput" required> -->
															</select>
														</div>
														<div class="mb-3">
															<label class="form-label">Relationship Type:</label>
															<select class="form-select" id="relationshipTypeSelect" required>
																<option value="">Select Type</option>
																<option value="ManyToOne">ManyToOne</option>
																<option value="OneToMany">OneToMany</option>
																<option value="ManyToMany">ManyToMany</option>
																<option value="OneToOne">OneToOne</option>
															</select>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitRelationForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>


									<!-- ManyToOne Modal -->
									<div class="modal fade" id="manyToOneModal" tabindex="-1" aria-labelledby="manyToOneModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="manyToOneModalLabel">ManyToOne Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="manyToOneForm">
														<div class="mb-3">
															<label class="form-label">Is the this.<span id="relationNameInput"></span>
																property allowed to be null (nullable)?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadios" id="manyToOneNullableYesRadio" value="yes" checked>
																<label class="form-check-label" for="manyToOneNullableYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadios" id="manyToOneNullableNoRadio" value="no">
																<label class="form-check-label" for="manyToOneNullableNoRadio">No</label>
															</div>
														</div>
														<div class="mb-3">
															<label class="form-label">Do you want to add a new property to
																<span id="manyToOneChosenClass"></span>
																so that you can access/update this class' objects from it?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadios" id="manyToOneAddPropertyYesRadio" value="yes" checked>
																<label class="form-check-label" for="manyToOneAddPropertyYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadios" id="manyToOneAddPropertyNoRadio" value="no">
																<label class="form-check-label" for="manyToOneAddPropertyNoRadio">No</label>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitManyToOneForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

									<!-- Field Name Modal -->
									<div class="modal fade" id="fieldNameModal" tabindex="-1" aria-labelledby="fieldNameModalLabel" aria-hidden="true" style="z-index: 2147483647;">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="fieldNameModalLabel">Field Name Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div class="mb-3">
														<label class="form-label">New field name inside
															<span id="fieldNameChosenClass"></span>:</label>
														<input type="text" class="form-control" id="fieldNameInput">
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitFieldNameForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>


									<!-- OneToMany Modal -->
									<div class="modal fade" id="oneToManyModal" tabindex="-1" aria-labelledby="oneToManyModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="oneToManyModalLabel">OneToMany Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="oneToManyForm">
														<div class="mb-3">
															<label class="form-label">New field name inside
																<span id="oneToManyChosenClass"></span>:</label>
															<input type="text" class="form-control" id="oneToManyFieldNameInput">
														</div>
														<div class="mb-3">
															<label class="form-label">Can it be nullable?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadiosOneToMany" id="oneToManyNullableYesRadio" value="yes" checked>
																<label class="form-check-label" for="oneToManyNullableYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadiosOneToMany" id="oneToManyNullableNoRadio" value="no">
																<label class="form-check-label" for="oneToManyNullableNoRadio">No</label>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitOneToManyForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>


									<!-- OrphanRemoval Modal -->
									<div class="modal fade" id="orphanRemovalModal" tabindex="-1" aria-labelledby="orphanRemovalModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="orphanRemovalModalLabel">OrphanRemoval Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="orphanRemovalForm">
														<div class="mb-3">
															<label class="form-label">Do you want to enable Orphan Removal for this relationship?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="orphanRemovalRadios" id="orphanRemovalYesRadio" value="yes" checked>
																<label class="form-check-label" for="orphanRemovalYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="orphanRemovalRadios" id="orphanRemovalNoRadio" value="no">
																<label class="form-check-label" for="orphanRemovalNoRadio">No</label>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitOrphanRemovalForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>


									<!-- ManyToMany Modal -->
									<div class="modal fade" id="manyToManyModal" tabindex="-1" aria-labelledby="manyToManyModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="manyToManyModalLabel">ManyToMany Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="manyToManyForm">
														<div class="mb-3">
															<label class="form-label">Do you want to add a new property to
																<span id="manyToManyChosenClass"></span>
																so that you can access/update this class' objects from it?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadiosManyToMany" id="manyToManyAddPropertyYesRadio" value="yes" checked>
																<label class="form-check-label" for="manyToManyAddPropertyYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadiosManyToMany" id="manyToManyAddPropertyNoRadio" value="no">
																<label class="form-check-label" for="manyToManyAddPropertyNoRadio">No</label>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitManyToManyForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

									<!-- OneToOne Modal -->
									<div class="modal fade" id="oneToOneModal" tabindex="-1" aria-labelledby="oneToOneModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="oneToOneModalLabel">OneToOne Modal</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form id="oneToOneForm">
														<div class="mb-3">
															<label class="form-label">Is
																<span id="oneToOneRelationName"></span>
																allowed to be nullable?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadiosOneToOne" id="oneToOneNullableYesRadio" value="yes" checked>
																<label class="form-check-label" for="oneToOneNullableYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="nullableRadiosOneToOne" id="oneToOneNullableNoRadio" value="no">
																<label class="form-check-label" for="oneToOneNullableNoRadio">No</label>
															</div>
														</div>
														<div class="mb-3">
															<label class="form-label">Do you want to add a new property to
																<span id="oneToOneChosenClass"></span>
																so that you can access/update this class' objects from it?</label><br>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadiosOneToOne" id="oneToOneAddPropertyYesRadio" value="yes">
																<label class="form-check-label" for="oneToOneAddPropertyYesRadio">Yes</label>
															</div>
															<div class="form-check form-check-inline">
																<input class="form-check-input" type="radio" name="addPropertyRadiosOneToOne" id="oneToOneAddPropertyNoRadio" value="no" checked>
																<label class="form-check-label" for="oneToOneAddPropertyNoRadio">No</label>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary" onclick="submitOneToOneForm()">Submit</button>
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</form>

					<table class="table" id="attributeTable">
						<thead>
							<tr>
								<th>Attribute Name</th>
								<th>Attribute Type</th>
								<th>Nullable</th>
								<th>Length</th>
								<th>Precision</th>
								<th>Scale</th>
								<th>Actions</th>
								<th>Entity</th>
							</tr>
						</thead>
						<tbody id="attributeTableBody"><!-- Table body will be dynamically filled --></tbody>
					</table>

					<!-- Output Box Container -->
					<div id="outputContainer"></div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script src="../scripts/SanitizeString.js" defer></script>

	<script src="../scripts/CreateAttribute.js" defer></script>

	<script src="../scripts/HandleInnerEntity.js" defer></script>

	<script src="../scripts/HandleRelation.js" defer></script>

	<script src="../scripts/SpecialFields.js" defer></script>

	<script src="../scripts/SubmitEntity.js" defer></script>

{% endblock %}

{% block sidenav %}

	<li class="mt-0.5 w-full">
		<a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="/">
			<div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
				<svg width="12px" height="12px" viewbox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(1716.000000, 291.000000)">
								<g transform="translate(0.000000, 148.000000)">
									<path class="fill-slate-800 opacity-60" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
									<path class="fill-slate-800" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</div>
			<span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Tableau de bord</span>
		</a>
	</li>

	<li class="mt-0.5 w-full">
		<a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" href="/viewModules">
			<div class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
				<svg width="12px" height="12px" viewbox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(1716.000000, 291.000000)">
								<g transform="translate(153.000000, 2.000000)">
									<path class="fill-slate-800 opacity-60" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
									<path class="fill-slate-800" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</div>
			<span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Tableaux</span>
		</a>
	</li>

	<li class="mt-0.5 w-full">
		<a class="py-2.7 shadow-soft-xl text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" href="/view">
			<div class="bg-gradient-to-tl from-purple-700 to-slate-800 shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
				<svg width="12px" height="12px" viewbox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
							<g transform="translate(1716.000000, 291.000000)">
								<g transform="translate(453.000000, 454.000000)">
									<path class="opacity-60" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"></path>
									<path class="" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</div>
			<span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Entités</span>
		</a>
	</li>

{% endblock %}

{% block breadcrumb %}

	<nav>
		<!-- breadcrumb -->
		<ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
			<li class="text-sm leading-normal">
				<a class="opacity-50 text-slate-700" href="javascript:;">Pages</a>
			</li>
			<li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Entités</li>
		</ol>
		<h6 class="mb-0 font-bold capitalize">Nouvelle entité</h6>
	</nav>

{% endblock %}
